<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.mapper.SalaryMapper">
  <resultMap id="BaseResultMap" type="com.pms.po.Salary">
    <result column="e_id" jdbcType="INTEGER" property="eId" />
    <result column="attendance_salary" jdbcType="DOUBLE" property="attendanceSalary" />
    <result column="achievement_salary" jdbcType="DOUBLE" property="achievementSalary" />
    <result column="benefit_salary" jdbcType="DOUBLE" property="benefitSalary" />
    <result column="s_salary" jdbcType="DOUBLE" property="sSalary" />
    <result column="s_date" jdbcType="DATE" property="sDate" />
  </resultMap>
  <insert id="insert" parameterType="com.pms.po.Salary">
    insert into salary (e_id, attendance_salary, achievement_salary, 
      benefit_salary, s_salary, s_date
      )
    values (#{eId,jdbcType=INTEGER}, #{attendanceSalary,jdbcType=DOUBLE}, #{achievementSalary,jdbcType=DOUBLE}, 
      #{benefitSalary,jdbcType=DOUBLE}, #{sSalary,jdbcType=DOUBLE}, #{sDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pms.po.Salary">
    insert into salary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eId != null">
        e_id,
      </if>
      <if test="attendanceSalary != null">
        attendance_salary,
      </if>
      <if test="achievementSalary != null">
        achievement_salary,
      </if>
      <if test="benefitSalary != null">
        benefit_salary,
      </if>
      <if test="sSalary != null">
        s_salary,
      </if>
      <if test="sDate != null">
        s_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eId != null">
        #{eId,jdbcType=INTEGER},
      </if>
      <if test="attendanceSalary != null">
        #{attendanceSalary,jdbcType=DOUBLE},
      </if>
      <if test="achievementSalary != null">
        #{achievementSalary,jdbcType=DOUBLE},
      </if>
      <if test="benefitSalary != null">
        #{benefitSalary,jdbcType=DOUBLE},
      </if>
      <if test="sSalary != null">
        #{sSalary,jdbcType=DOUBLE},
      </if>
      <if test="sDate != null">
        #{sDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>